<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.scmaster.cheesemap.vo.Member" alias="Member" />
		<typeAlias type="com.scmaster.cheesemap.vo.MyMenu" alias="MyMenu" />
	</typeAliases>

	<mappers>
		<mapper resource="Mapper/memberMapper.xml" />
		<mapper resource="Mapper/MyMenuMaper.xml" />
	</mappers>
</configuration>
