<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 마이메뉴 처리 SQL -->
<mapper namespace="com.scmaster.cheesemap.dao.TimelineMapper">
	<select id="getTimeline" resultType="Board" parameterType="String">
		select
			boa_id
			, boa_content
			, boa_create_date
			, boa_modify_date
			, boa_latitude
			, boa_longitude
			, boa_photo_savefile
			, boa_photo_originalfile
			, boa_video_originalfile
			, boa_video_savefile
			, mem_id
		from
			CS_BOARD
		where
			boa_id = #{boa_id}
	</select>
	
	<select id="getBoardComment" resultType="BoardComment" parameterType="String">
		select
			com_id
			, com_content
			, com_create_date
			, com_modify_date
			, mem_id
			, boa_id
		from
			CS_BOARD_COMMENT
		where
			boa_id = #{boa_id}
	</select>
	
	<select id="getBoardTag"  resultType="BoardTag" parameterType="String">
		select
			tag_name
			, boa_id
		from
			CS_BOARD_TAG
		where
			boa_id = #{boa_id}
		order by
			tag_name
	</select>
	
	<select id="getBoardLike" resultType="BoardLike" parameterType="String">
		select
			mem_id
			, boa_id
		from
			CS_BOARD_LIKE
		where
			boa_id = #{boa_id}
	</select>
	
	<select id="followCheck" resultType="String" parameterType="String">
		select
			FOL_FOLLOWING
		from
			CS_FOLLOW
		where
			FOL_FOLLOWER = #{fol_follower}
		and
			FOL_FOLLOWING = #{fol_following}
	</select>
	
	<insert id="followAdd" parameterType="Follow">
		insert into
			CS_Follow (
				fol_follower
				, fol_following
			) values (
				#{fol_follower}
				, #{fol_following}
			)
	</insert>
	
	<delete id="followRemove" parameterType="Follow">
		delete 
			CS_Follow
		where
			fol_follower = #{fol_follower}
		and
			fol_following = #{fol_following}
	</delete>
</mapper>
