#asideBoard {
	height: 500px;
	width: 630px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right : 30px;
	border-right: 1px solid #efefef;
}

#sectionBoard {
	width: 335px;
	float: left;
	text-align: left;
	align-items: center;
	padding-left: 30px;
}

#headerBoard {
	border-bottom: 1px solid #efefef;
	height: 85px;
}

#likedate {
	height: 30px;
}

#wrapBoard {
	overflow: hidden;
}

#memberPhoto {
	border-radius: 50%;
	overflow: hidden;
	width: 70px;
	height: 70px;
	margin: 2px 10px 2px 2px;
	display: inline;
}

#heart {
	width: 30px;
	height: 30px;
	margin: 2px 10px 2px 2px;
	display: inline;
}

#time {
	float: right;
}

#replyBoard {
	height: 340px;
	margin-left: -24px;
	margin-right: -24px;
	padding-left: 24px;
	padding-right: 24px;
	margin-top: -5px;
	padding-top: 5px;
	font-size: 19px !important;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
}

#footerBoard {
	border-top : 1px solid #efefef;
}

#okBtn {
	padding: 6px 10px !important;
	font-size: 10px !important;
	line-height: 1.3333333 !important;
	border-radius: 6px !important;
}

.replyNick {
	padding-right: 10px;
	font-size: 17px !important;
	color: #565858 !important;
	font-weight: bold !important;
}

ul {
	list-style: none;
	padding-left: 0px;
}
#comContent{
	text-align: left !important;
}
.fr-emoticon.fr-emoticon-img{
	background-repeat: no-repeat!important;
    height: 1em !important;
    width: 1em !important;
    min-height: 20px !important;
    min-width: 20px !important;
    display: inline-block !important;
    margin: -.1em .1em .1em !important;
    line-height: 1 !important;
    vertical-align: middle !important;
}
