.menu-slider {
	position: fixed;
	height: 800px;
	background: #ffffff;
	width: 300px;
	left: 0px;
	margin-left: -500px;
	top: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity :0.8;
}

.user {
	border-bottom: dashed 1px #4997cd;
	margin: 20px;
