/* #input-group{
	
	position: fixed !important; 
	width: 50px;
	height: 100px;
	right: 30px;
	top: 15%;
	
} */

#searchWord{
	position: fixed !important;
    width: 300px;
    height: 30px;
    right: 150px;
    top: 18%;
	font-size: 19px;
    color: rgb(248, 3, 125);
    font-weight : bold;
}

.searchClass{
	
   position: fixed !important; 
	width:200px;
	height: 60px;
	right: 150px;
	top: 18%;	
	
	
}

.search_input_form{
	width:200px;
	height:30px;
	line-height: 25px;
	font-size: 19px;
	opacity: 0.6;	
}


#fixed-menu-bar{
	width:800px;
	position: fixed !important;
	z-index: 1;
	background-color: white;

}
.dropdownMenu{
   display:block;
   width: auto;
   background-color: #fff;
   
   
}

.input-group{
   display: block !important;
   padding: 8px 14px;
}

.onetag.hover{
   background: #BCE0DA;
    cursor: pointer;
}

