@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Fjalla+One); /* font */

#loading{
	text-align: center;
	padding-bottom: 300px;
}

#osirase{
	padding-top: 245px;
	padding-bottom: 30px;
	font-size: 55px;
	text-align: center;
}

body{
	overflow: hidden;
}

.page {
	width: 21cm;
	height: 29.7cm;
	font-family: 'Fjalla One', sans-serif;
}

.page .ver{
	float : left;
}
.background_img {
	position: relative;
	z-index: -55;
	width: 21cm;
	height: 29.7cm;
}

#page0{
	color: black;
}

#page0_5{
	text-align: center;
	background-color: burlywood;
	color: black;
}

#page1 {
	color: white;
}

#page3{
	color: #5a5955;
}

#member_nick{
	z-index: 55;
	font-size: 50px;
	padding-top: 4.5cm;
}

#collabo{
	z-index: 55;
	font-size: 50px;
	padding-top: 5cm;
}
#cover_title{
	z-index: 55;
	text-align: center;
	position: relative;
	bottom: 26cm;
	font-size: 45px;
	font-weight: bold;
}

#cover_date{
	z-index: 55;
	text-align: center;
	position: relative;
	bottom: 26cm;
	font-size: 30px;
	font-weight: bold;
}

#total_div{
	z-index: 55;
	position: relative;
	top: -24.2cm;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}

#total_detail_div{
	z-index: 55;
	position: relative;
	padding-top: 2cm;
}

#like_div{
	z-index: 55;
	width: 5cm;
	position: relative;
	top: -22cm;
	left: 3.8cm;
	font-size: 30px;
	text-align: center;
	float: left;
}

#comment_div{
	z-index: 55;
	position: relative;
    top: -22cm;
    right: 5.8cm;
    font-size: 30px;
    text-align: center;
    float: right;
}

#memories_div{
	z-index: 55;
	width: 9cm;
	position: relative;
	top: -16.2cm;
	left: 4.3cm;
	text-align: center;
	font-size: 90px;
}

.top3_img {
	z-index: 55;
	width: 2.3cm;
	height: 2.3cm;
}

#cover_img{
	z-index: 55;
	position: relative;
	left: 0cm;
	top: -29.7cm;
	width: 21cm;
	height: 18.3cm;
}

.top3_image{
	z-index: 55;
	position: relative;
	top: -9.6cm;
}

#top1 {
	z-index: 55;
	position: relative;
	left: 3.8cm;
	float: left;
}

#top2 {
	z-index: 55;
	position: relative;
	left: 7.1cm;
	float: left;
}

#top3{
	z-index: 55;
	position: relative;
	left: 10.3cm;
}

.nickname{
	z-index: 55;
	color: black;
	width: 5cm;
	text-align: center;
	position: relative;
	top: -8.8cm;
	font-size: 25px;
}

#top1_nick{
	z-index: 55;
	position: relative;
	left: 2.4cm;
	float: left;
}

#top2_nick{
	z-index: 55;
	position: relative;
	left: 3.1cm;
	float: left;
}

#top3_nick{
	z-index: 55;
	position: relative;
	right: 2.3cm;
	float: right;
}

#logo{
	z-index: 55;
	position: relative;
	top: 3.5cm;
	width: 300px;
	height: 300px;
}

#backimg2{
	z-index: 55;
	position: relative;
	left: -10cm;
	top: -2.8cm;
}

#post_top2_like{
	z-index: 55;
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 15.15cm;
	top: -35.9cm;
	color: white;
	
}

#post_top2_comment{
	z-index: 55;
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 15.15cm;
	top: -33.1cm;
	color: white;
}

#post_top2_img{
	z-index: 55;
	position: relative;
	top: -27cm;
	left: 1.7cm;
	width: 450px;
	height: 375px;
}

#post_top3_like{
	z-index: 55;
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 15.15cm;
	top: -36.8cm;
	color: #ff8d3c;
}

#post_top3_comment{
	z-index: 55;
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 15.15cm;
	top: -33.9cm;
	color: #ff8d3c;
}

#post_top3_img{
	z-index: 55;
	position: relative;
	top: -27.9cm;
	left: 1.7cm;
	width: 450px;
	height: 375px;
}

#post_top1_div{
	z-index: 55;
	position: relative;
	top: -29.8cm;
}

#post_top1_date{
	z-index: 55;
	position: relative;
	top: 8.6cm;
	text-align: center;
	color: white;
	font-size: 35px;
}

#post_top1_img{
	z-index: 55;
	position: relative;
	top: 9.5cm;
	left: 1.38cm;
	width: 690px;
	height: 433px;
}

#post_top1_content{
	z-index: 55;
	position: relative;
	top: 10cm;
	left: 1.38cm;
	font-size: 17px;
	font-weight: bold;
}

#post_top1_like{
	z-index: 55;
	font-size: 35px;
	color: #ff8d3c;
	position: relative;
	float: left;
	width: 2cm;
	text-align: center;
	top:13.8cm;
	left: 3.5cm;
}

#post_top1_comment{
	z-index: 55;
	color: #ff8d3c;
	font-size: 35px;
	position: relative;
	text-align: center;
	width: 3cm;
	top:13.8cm;
	left: 7.5cm;
}

.post_date{
	z-index: 55;
	position: relative;
	color: #f2c200;
	font-size: 30px;
	left: 1.5cm;
	top: -27.7cm;
}

.post_img{
	z-index: 55;
	position: relative;
	top: -25.3cm;
	left: 3cm;
	width: 566px;
	height: 406px;
}

.post_content{
	z-index: 55;
	position: relative;
	color: #5a5955;
	top: -24.8cm;
	left: 3cm;
	font-weight: bold;
}

.post_hashtag{
	z-index: 55;
	position: relative;
	top: -22cm;
	left: 3cm;
	font-weight: bold;
	font-size: 16px;
	color:black;
	
}

.post_like{
	z-index: 55;
	position: relative;
	text-align: center;
	float: left;
	font-size: 30px;
	color: #5a5955;
	top: -21.7cm;
	left: 4cm;
}

.post_comment{
	z-index: 55;
	position: relative;
	text-align: center;
	color: #5a5955;
	width: 3cm;
	top: -21.7cm;
	left: 8.2cm;
	font-size: 30px;
}

.post_comment_div{
	z-index: 55;
	position: relative;
	top: -21.3cm;
	left: 1.5cm;
	float: left;
	color: black;
}

.post_comment_nick{
	z-index: 55;
	float: left;
}

.post_comment_content{
	z-index: 55;
	padding-left: 2.4cm;
}

#back_img3_5{
	z-index: 55;
	position: relative;
	top: -15.1cm;
}

#post_div{
	z-index: 55;
	position: relative;
	top: -29.8cm;
}

#lastpage{
	z-index: 55;
	position: relative;
}

.post_background_img{
	position: relative;
	width: 21cm;
	height: 29.7cm;
}