@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Fjalla+One); /* font */
.page {
	width: 21cm;
	height: 29.7cm;
	font-family: 'Fjalla One', sans-serif;
}

#page0 {
	background-image: url(../img/testPage0.png);
	background-size: contain;
}

#page0_5{
	text-align: center;
	background-color: burlywood;
}

#page1 {
	background-image: url(../img/testPage1.png);
	background-size: contain;
	color: white;
}

#page2{
	background-image: url(../img/testPage2.png);
	background-size: contain;
}

#page3{
	background-image: url(../img/testPage3.png);
	background-size: contain;
	color: #5a5955;
}

#page3_5{
	background-image: url(../img/testPage3_5.png);
	background-size: contain;
}

.page4{
	background-image: url(../img/page6.png);
	background-size: contain;
}

#page_last{
	background-image: url(../img/testPage_last.png);
	background-size: contain;
}

#member_nick{
	font-size: 50px;
	padding-top: 4.5cm;
}

#collabo{
	font-size: 50px;
	padding-top: 5cm;
}
#cover_title{
	padding-top: 4cm;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}

#cover_date{
	padding-top: 0.5cm;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#total_div{
	padding-top: 5.5cm;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}

#total_detail_div{
	padding-top: 2cm;
}

#like_div{
	width: 5cm;
	position: relative;
	top: 2.3cm;
	left: 3.8cm;
	font-size: 30px;
	text-align: center;
	float: left;
}

#comment_div{
	width: 5cm;
	position: relative;
	top:2.3cm;
	right: 3.7cm;
	font-size: 30px;
	text-align: center;
	float: right;
}

#memories_div{
	width: 6cm;
	position: relative;
	top: 7.1cm;
	left: 7.7cm;
	text-align: center;
	font-size: 90px;
}

.top3_img {
	width: 2.3cm;
	height: 2.3cm;
}

#cover_img{
	width: 21cm;
	height: 18.3cm;
}

.top3_image{
	position: relative;
	top: 13.7cm;
}

#top1 {
	position: relative;
	left: 3.8cm;
	float: left;
}

#top2 {
	position: relative;
	left: 7.1cm;
	float: left;
}

#top3{
	position: relative;
	left: 10.3cm;
}

.nickname{
	width: 5cm;
	text-align: center;
	position: relative;
	top: 14.5cm;
	font-size: 25px;
}

#top1_nick{
	position: relative;
	left: 2.4cm;
	float: left;
}

#top2_nick{
	position: relative;
	left: 3.1cm;
	float: left;
}

#top3_nick{
	position: relative;
	right: 2.3cm;
	float: right;
}

#logo{
	margin-top: 4.5cm;
	width: 300px;
	height: 300px;
}

#post_top2_div{
	position: relative;
	top: 5.4cm;
	left: 1.7cm;
	color: white;
}

#post_top2_like{
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 13.4cm;
	top: -9cm;
	
}

#post_top2_comment{
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 13.4cm;
	top: -6cm;
}

#post_top2_img{
	width: 450px;
	height: 375px;
}

#post_top3_div{
	position: relative;
	top: 4.8cm;
	left: 1.7cm;
	color: #ff8d3c;
}

#post_top3_like{
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 13.4cm;
	top: -9cm;
	
}

#post_top3_comment{
	position: relative;
	text-align: center;
	font-size: 45px;
	width: 3cm;
	left: 13.4cm;
	top: -6cm;
}

#post_top3_img{
	width: 450px;
	height: 375px;
}

#post_top1_date{
	position: relative;
	top: 8.65cm;
	text-align: center;
	color: white;
	font-size: 35px;
}

#post_top1_img{
	position: relative;
	top: 9.5cm;
	left: 1.38cm;
	width: 690px;
	height: 433px;
}

#post_top1_content{
	position: relative;
	top: 10cm;
	left: 1.38cm;
	font-size: 17px;
	font-weight: bold;
}

#post_top1_like{
	font-size: 35px;
	color: #ff8d3c;
	position: relative;
	float: left;
	width: 2cm;
	text-align: center;
	top:13.9cm;
	left: 3.5cm;
}

#post_top1_comment{
	color: #ff8d3c;
	font-size: 35px;
	position: relative;
	text-align: center;
	width: 3cm;
	top:13.9cm;
	left: 7.5cm;
}

.post_date{
	position: relative;
	color: #f2c200;
	font-size: 30px;
	left: 1.5cm;
	top: 2cm;
}

.post_img{
	position: relative;
	top: 4.55cm;
	left: 3cm;
	width: 566px;
	height: 406px;
}

.post_content{
	position: relative;
	color: #5a5955;
	top: 5.3cm;
	left: 3cm;
	font-weight: bold;
}

.post_hashtag{
	position: relative;
	top: 7.8cm;
	left: 3cm;
	font-weight: bold;
	font-size: 18px;
}

.post_like{
	position: relative;
	text-align: center;
	float: left;
	font-size: 30px;
	color: #5a5955;
	top: 8.18cm;
	left: 4cm;
}

.post_comment{
	position: relative;
	text-align: center;
	color: #5a5955;
	width: 3cm;
	top: 8.18cm;
	left: 8.2cm;
	font-size: 30px;
}

.post_comment_div{
	position: relative;
	top: 8.5cm;
	left: 1.5cm;
}

.post_comment_nick{
	float: left;
}

.post_comment_content{
	padding-left: 2.4cm;
}