.message-inner{	
    border: 1px solid #d4d4d4;
    background-color: #FFFFFF;
    opacity: 1 !important;
    padding: 30p;
}

.message-item{
	border-bottom: dashed 1px #4997cd;
	margin: 20px;
	position: relative;
}

.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}

.message-item .message-inner::before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}

.message-item .message-inner::after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}


.message-item::before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item::after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}

.glyphicon-time{
	align-items: center;
    content: "\e023";
}

#userList, #tagList, #mymapList{
	display: block;
	background: white;
	top: -40px;
	position: relative;
	height: auto;
	
}

