/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_0.xml
/Maven__com_fasterxml_jackson_core_jackson_core_2_8_6.xml
/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_6.xml
/Maven__com_oracle_ojdbc6_11_2_0_3.xml
/Maven__commons_fileupload_commons_fileupload_1_3_2.xml
/Maven__commons_io_commons_io_2_5.xml
/Maven__javax_inject_javax_inject_1.xml
/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/Maven__javax_servlet_jsp_javax_servlet_jsp_api_2_3_1.xml
/Maven__javax_servlet_jstl_1_2.xml
/Maven__junit_junit_4_7.xml
/Maven__log4j_log4j_1_2_15.xml
/Maven__org_aspectj_aspectjrt_1_8_10.xml
/Maven__org_mybatis_mybatis_3_4_1.xml
/Maven__org_mybatis_mybatis_spring_1_3_0.xml
/Maven__org_slf4j_jcl_over_slf4j_1_7_22.xml
/Maven__org_slf4j_slf4j_api_1_7_22.xml
/Maven__org_slf4j_slf4j_log4j12_1_7_22.xml
/Maven__org_springframework_spring_aop_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_beans_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_context_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_core_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_expression_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_jdbc_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_tx_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_web_4_3_6_RELEASE.xml
/Maven__org_springframework_spring_webmvc_4_3_6_RELEASE.xml
